@import 'my_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

$font-dir: "/fonts/";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
}

.no-scroll {
  overflow: hidden;
}

::-webkit-input-placeholder { /* Edge */
  color: red;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::placeholder {
  color: #999 !important;
  font-weight: 200;
}

.dropdown-menu {
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #707070;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu-wide ul {
  min-width: 25rem !important;
}

.dropdown-item {
  color: #212121 !important;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
}
h2 {
  font-size: 17px;
  font-weight: 200;
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
  white-space: normal;
}
h3 {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0px;
  opacity: 1;
}
h4 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0px;
  opacity: 1;
}
p {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0px;
  opacity: 1;
}
.quote {
  text-align: center;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.text-font1 {
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}
.text-font2 {
  font-size: 12px;
  font-weight: 700;
}
.text-black {
  color: #000000;
}
.text-large {
  font-size: 14px;
}
.bg-lighter {
  background-color: #F5F5F5;
}
.bg-black {
  background-color: #000000;
}
.bg-ones {
  background-color: #111111;
}
button {
  // background: rgb(255, 255, 255, .2) 0% 0% no-repeat padding-box;
  color: $info;
  border: none;
  padding: 10px;
}
button:hover {
  color: white 0% 0% no-repeat padding-box;
}
button:focus {
  outline: none;
}
.vueperslides__arrows button:hover {
  background: transparent;
}
.vueperslides__arrow--prev {
  left: -6em !important;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: $cyan;;
}
a:focus {
  outline: none;
}
.nav-text > a {
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  padding-top: 20px;
}
.nav-text > a:hover {
  color: $cyan;
}
.navbar-brand {
  width: auto;
  height: 62px;
}
.more-text {
  font-size: 11px;
  font-weight: 700;
  color: $info;
}
.btn-services {
  background: #d1ebeb 0% 0% no-repeat padding-box;
  border-radius: 22px;
  opacity: 1;
  width: 177px;
  height: 43px;
}
.btn-services:hover {
  background: $info 0% 0% no-repeat padding-box;
}
.btn-services:hover a {
  color: #d1ebeb !important;
}
.blurb {
  width: 450px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.card-text {
  color: #000000;
}
.card-title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.app-footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.admin-app {
  background: #F5F5F5;
  min-height: 70vh;
}
// FOOTER ON MOBILE
@media only screen and (max-width: 515px) {
  .footerContent h2 {
    font-size: 13px !important;
  }
  .footerContent p {
    font-size: 8px !important;
  }
}

@media only screen and (max-width: 320px) {
  .footerContent h2 {
    font-size: 12px !important;
  }
  .footerContent p {
    font-size: 7px !important;
  }
}

//MOBILE TEXT
@media only screen and (max-width:768px) {
  .textOnMobile { flex: 0 0 90%; max-width: 90%; }
  .textOnMobile h2 { text-align: center; }
  .textOnMobile { margin: 0 auto; }
}

@media only screen and (max-width:414px) {
  .textOnMobile h1 { font-size: 14px; }
  .textOnMobile h2 { font-size: 30px; }
  .textOnMobile p { font-size: 12px; }
}

@media only screen and (max-width:320px) {
  .textOnMobile h2 { font-size: 22px; }
  .textOnMobile p { font-size: 10px; }
}
.wallet-play-mode {
  border: 2pt solid $yellow;
  border-radius: 15px;
  padding: 10px 30px;
}
.wallet-user-mode {
  border: 2pt solid $cyan;
  border-radius: 15px;
  padding: 10px 30px;
}
.wallet-label {
  width: 120px;
  display: inline-block;
}
.flasher {
  color: $yellow;
}
.wallet-use {
  text-decoration: underline;
  font-size: 12px;
  font-weight: 600;
}
.modal-content {
  background-color: #fff;
  border: 1pt solid #000;
}
.r-notifs {
  // Style of the notification itself 
  padding: 10px;
  margin: 0 5px 5px;
 
  font-size: 12px;
 
  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  .notification-title {
    font-size: 16px;
    font-weight: 700
  }
 
  .notification-content {
    text-decoration: dashed;
  }
 
  &.warn {
    background: $warning;
    border-left-color: $danger;
  }
  &.error {
    background: $danger;
    border-left-color: $indigo;
  }
  &.info {
    background-color: $info;
    border-left-color: $danger;
  }
  &.success {
    background-color: $success;
    border-left-color: $danger;
  }
}